@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Cormorant SC", serif;
}
.a {
  text-align: center;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}

.logo {
  padding: 2% 2% 2% 2%;
  display: block;
  opacity: 70%;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  color: rgb(199, 199, 199);
  border-radius: 20em;
  border: solid;
  border-width: 1px;
  border-color: rgb(218, 23, 16);
}

.game__menu {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  background-image: url("img/MenuBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}
.nav__menu {
  color: rgb(255, 255, 255);
  align-items: center;
}
.start__game {
  display: flex;
  align-items: center;
}
.btn__start--game {
  margin: auto;
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem 2.5rem;
  opacity: 80%;
}

.btn__start--game:hover {
  background-color: rgb(218, 23, 16);
}

.message {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 5%;
  color: #ffffff;
}

.message__text {
  text-align: center;
}

.modal__menu {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 40rem;
  background-color: #ffffff;
  padding: 5rem 4rem 10rem 4rem;
  z-index: 1000;
  opacity: 50%;
}

.btn__menu {
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(235, 235, 235);
  padding: 2rem 3rem;
  border-width: 2px;
  opacity: 100%;
  margin-bottom: 0.5rem;
}

.btn__menu:hover {
  background-color: rgb(218, 23, 16);
}

.btn__singleplayer {
  opacity: 30%;
}
.btn__singleplayer:hover {
  background-color: rgb(0, 0, 0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(145, 145, 145, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}
